.contenedor-total{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

}

.contenedor-item{
    display: inline-block;
    position: relative;
    /* border: 3px solid rgb(179, 14, 14); */
    width: auto;
}

.description{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
}

.description h2, .description p{
    text-align: center;
}

.portada{
    width: 220px;
}

.portada:hover{
    opacity: .5;
    transition: all .5s ease;
    cursor: pointer;
}
